syntax:glob

.DS_Store
*.log
local_settings.py
*.py[cod]

# C extensions
*.so
*.pyc

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Database
*.dump
*.json

# Folders
__pycache__/**
